{% extends 'base.html' %}
{% block title %}
    <title>Credits</title>
{% endblock title %}
{% block content %}
    <h1>Credits</h1>
    <ul class="creds">
        <li>
            <a href="https://www.themoviedb.org/" target="_blank">
                <img src="../static/cred_logo.svg" alt="TMDB Logo" width="200">
            </a>
            <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/119175/movie">Movie</a>
            icon by 
            <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li>
            Social icons by <a href="https://fontawesome.com/v4.7/icons/" target="_blank">Fontawesome</a>
        </li>
    </ul>
{% endblock content %}