{% extends 'base.html' %}
{% block title %}
    <title>{{p['title']}}</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="../static/movie.css">
    <link rel="stylesheet" href="../static/person.css">
{% endblock styles %}

{% block content %}
    <section class="main-content">
        <img src="{{p['img']}}" alt="poster" width="400" height="500">
        <section class="details">
            <h1>{{p['title']}}</h1>
            <p><b>Birthday: </b>{{p['birthday']}} &#8226; <b>Gender: </b> {{p['gender']}} &#8226; <b>Profession: </b> {{p['prof']}}</p>
            <h2>Biography</h2>
            <p>{{p['bio']}}</p>
        </section>
    </section>
    <section class="known_for">
        <h2>Known for: </h2>
        <section class="data">
            {% for i in k %}
                <div class="thumbnail">
                    <a href="{{i['path']}}">
                        <img src="{{i['img']}}" alt="poster" width="200" height="300">
                        <h4>{{i['title']}}</h4>
                    </a>
                </div>
            {% endfor %}

        </section>
    </section>
{% endblock content %}
